* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}