:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #FF5100;
  /* Bhagwa Orange */
  --secondary-color: #ffffff;
  /* White */
  --text-primary: #333333;
  /* Dark Grey for text */
  --text-secondary: #ffffff;
  --bg-color: #ffffff;
  --bg-secondary: #FFF0E5;
  /* Light Orange tint */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

button {
  background-color: var(--primary-color);
  color: var(--text-secondary);
}